@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form action="/Products/Index" method="post">
    @*<input type="search" name="keyword" value="" />*@
    @*將輸入欄位改用 @Html.TextBox("keyword") 輸出*@
    @Html.TextBox("keyword")
    <input type="submit" name="" value="搜尋" />
</form>

<p>
    @{
        @:From Controller: @ViewBag.controller
    }
</p>

<p>
    @{
        @:From View: @ViewBag.keyword
    }
</p>

@Html.Partial("_Pager", Model)

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            <a href=@Url.Action("Index", "Products", new { keyword = ViewBag.keyword, sortBy = "+Price", page = ViewBag.page })>↑</a>
            @Html.DisplayNameFor(model => model.Price)
            <a href=@Url.Action("Index", "Products", new { keyword = ViewBag.keyword, sortBy = "-Price", page = ViewBag.page })>↓</a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>
    @*
        item.ProductName
        data[0].ProductName
    *@
    @{
        var data = Model.ToArray();
    }

    @for (var i = 0; i < data.Length; i++@*ViewBag.onePageOfProducts*@)
    {
        @Html.HiddenFor(modelItem => data[i].ProductId)
        <tr>
            <td>
                @Html.EditorFor(modeItem => data[i].ProductName)
                @Html.ValidationMessageFor(modelItem => data[i].ProductName)
            </td>
            @*示範動態判斷 View 的顯示條件*@
            <td class="@(data[i].Price > 100 ? "text-danger" : "")">
                NT$ @Html.EditorFor(modeItem => data[i].Price)
                @Html.ValidationMessageFor(modelItem => data[i].Price)
            </td>
            <td>
                @Html.EditorFor(modeItem => data[i].Active)
                @Html.ValidationMessageFor(modelItem => data[i].Active)
            </td>
            <td>
                @Html.EditorFor(modeItem => data[i].Stock)
                @Html.ValidationMessageFor(modelItem => data[i].Stock)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = data[i].ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = data[i].ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = data[i].ProductId })
            </td>
        </tr>
    }
</table>

<input type="submit" value="送出" />

@*<ul>
    @foreach (var product in ViewBag.OnePageOfProducts)
    {
        <li>@product.ProductName</li>
    }
</ul>*@
